.text-box {
    width: 500px;
    height: 25px;
    margin: 10px 0 10px 0;
}

.btn {
    width: 100px;
    text-align: center;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 10px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.text{
    color: white;
    text-decoration: none;
}