
/* Base CSS */

* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
}
a, a:hover, a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
/* Height */

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}
.section-padding-100-0 {
    padding-top: 100px;
    padding-bottom: 0;
}
/* base css */

/* 20190622 */
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
/*  
@media (min-width:576px){.container{max-width:540px}}
@media (min-width:768px){.container{max-width:720px}}
@media (min-width:992px){.container{max-width:960px}}
@media (min-width:1200px){.container{max-width:1140px}} */

.col{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.col-auto{-ms-flex:0 0 auto;flex:0 0 auto;width:auto;max-width:none}
.col-1{-ms-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333%}
.col-2{-ms-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%}
.col-3{-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%}
.col-4{-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%}
.col-5{-ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}
.col-6{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
.col-7{-ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%}
.col-8{-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%}
.col-9{-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%}
.col-10{-ms-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%}
.col-11{-ms-flex:0 0 91.666667%;flex:0 0 91.666667%;max-width:91.666667%}
.col-12{-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px;
    padding-left: 15px; */
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px){
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
/* 20190622 */
.container{margin: auto;}
.background {
    background-image: url('../img/4.jpg');
    background-size: 100% 100%;
    padding-bottom: 15%;
}

.top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    background-color: #f1db6a;
    text-decoration: none;
}

.container>nav {
    background-color: rgb(26, 137, 228);
    text-align: center;
    font-variant: small-caps;
    line-height: 40px;
    color: white;
    position: relative;
}

.right {
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: inline-table;
 
}
.container nav input:hover {
    color: rgb(35, 35, 179);
    text-decoration: underline;
    background-color: #fcf0b6;
 
}

.container nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    padding-inline-start: 0;
    margin: 0;
}

.container nav ul li {
    display: inline-table;
    width: 120px;
    line-height: 40px;
}

.container nav ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: block;
    background-color: rgb(26, 137, 228);
}

.container nav a:hover {
    color: rgb(35, 35, 179);
    text-decoration: underline;
    background-color: #fcf0b6;
    font-weight: bold;
}

.container nav ul li>.sub-menu {
    display: none;
    position: absolute;
}

.container nav li:hover .sub-menu {
    display: block;
}

.container article {
    background-color: white;
    width: 85%;
    float: left;
}

.main_content {
    clear: both;
}

.content {
    text-align: justify;
    padding: 5px 20px 15px 40px;
}

h1 {
    font-weight: bold;
    color: rgb(168, 0, 0);
    padding: 0 0 0 40px;
}

h3 {
    color: rgb(4, 4, 134);
}

p {
    text-align: justify;
}

.img {
    width: 150px;
}

.img_responsive {
    width: 100%;
}

.article_item {
    padding: 10px;
 
}

.article_img {
    padding: 10px;
    float: left;
    width: 150px;
}

.article_tittle {
    float: left;
    width: 70%;
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    width: 75%;
}

.map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.container aside {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #fcf0b6;
    text-align: left;
    font-variant: small-caps;
    min-height: 400px;
}

.icon {
    background-image: url("../img/icon.gif");
    padding-left: 50px;
}

.imglist {
    margin-left: 0;
    list-style: none;
}

.imglist li:before {
    margin: 7px;
    margin-left: 0;
    padding: 0;
    padding-left: 15px;
    width: 16px;
    height: 16px;
    background: url(../img/list-sprites.png);
    background-position: left center;
    background-size: 10px;
    background-repeat: no-repeat;
    list-style: none;
    content: "";
    line-height: 18px;
}

.bullet_star li:before {
    background-position: 0 5px;
}

.bullet_check li:before {
    background-position: 0 -15px;
}

.bullet_plus li:before {
    background-position: 0 -36px;
}

.bullet_arrow li:before {
    background-position: 0 -55px;
}

.bullet_arrow2 li:before {
    background-position: 0 -76px;
}

.bullet_arrow4 li:before {
    background-position: 0 -96px;
}

.bullet_numeric li {
    padding-left: 20px;
    list-style: none;
    list-style: decimal;
}

.container aside .menu {
    border: 1px solid lightblue;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered;
    list-style: none;
}

.container aside menu li a {
    display: block;
}

.container aside ul li a {
    color: rgb(4, 78, 138);
    text-decoration: none;
}

.container aside li:hover {
    text-decoration: underline;
    background-color: rgb(26, 137, 228);
    font-weight: bold;
    color: white;
}

.container aside a:hover {
    color: white;
}

footer {
    text-align: center;
    width: 100%;
    background-color: rgb(26, 137, 228);
    padding: 20px 0px 20px 0px;
    border-top: 5px double #f1db6a;
    color: #ffffff;
}

.clear {
    clear: both;
}

.justify {
    text-align: justify
}

.align_center {
    text-align: center;
}

.tbl_lich_thi {
    border: 1px double #000000;
    text-align: center;
}

.tbl_lich_thi tr:nth-child(even) {
    background-color: #cccccc;
}

.tbl_lich_thi th {
    background-color: red;
    padding: 10px;
    color: #ffffff;
}

.tbl_lich_thi td {
    border: 1px double #000000;
    padding: 10px;
}

.col_1st {
    width: 70px;
}

.tbl_lich_thi .col_2nd {
    width: 70px;
}

.yellow {
    background-color: #f1db6a;
}

.darkviolet {
    background-color: darkviolet;
}
.mt-10{
    margin-top:10px;
}
