.content_1{
    width: 80%;
    float: left;
    height: 600px;
}
.picture{
    width: 20%;
    float: right;
 
    
}
.picture a img{
    width: 300px;
    height: 300px;
    padding: 0 0 20px 20px;
}

/* 20190622 */
/* Blog Area CSS */
.intro-news-filter {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    height: 32px;
    background-color: #f0f4f8;
}
.intro-news-filter h6 {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 32px;
    color: #404040;
    text-transform: uppercase;
    padding-left: 15px;
}
.intro-news-filter .nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    padding: 0 15px;
    font-size: 12px;
    color: #8a8a8a;
    text-transform: uppercase;
    line-height: 32px;
    background-color: transparent;
}
.single-blog-post {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
.single-blog-post.style-1 .blog-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
.single-blog-post.style-1 .blog-thumbnail img {
    width: 100%;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms; }
    .single-blog-post.style-1 .blog-thumbnail.bg-overlay::after {
    z-index: 5; }
.single-blog-post.style-1 .blog-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 50; }
.single-blog-post.style-1 .blog-content .post-date {
font-size: 14px;
color: #ffffff;
font-weight: 500;
display: block;
-webkit-transition-duration: 500ms;
transition-duration: 500ms; }
.single-blog-post.style-1 .blog-content .post-title {
font-weight: 500;
font-size: 30px;
margin-bottom: 0;
color: #ffffff;
-webkit-transition-duration: 500ms;
transition-duration: 500ms; }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-blog-post.style-1 .blog-content .post-title {
    font-size: 24px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post.style-1 .blog-content .post-title {
    font-size: 16px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-blog-post.style-1 .blog-content .post-title {
    font-size: 18px; } }
@media only screen and (max-width: 767px) {
    .single-blog-post.style-1 .blog-content .post-title {
    font-size: 16px; } }
.single-blog-post.style-1 .blog-content .post-title:hover, .single-blog-post.style-1 .blog-content .post-title:focus {
        color: #ef1b48; }
.single-blog-post.style-1:hover .blog-thumbnail img.transform {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
   

.single-blog-post.style-2 .blog-thumbnail {
    margin-bottom: 20px; }
.single-blog-post.style-2 .blog-thumbnail img {
    width: 100%; }
.single-blog-post.style-2 .blog-content {
position: relative;
z-index: 1; }
.single-blog-post.style-2 .blog-content .post-date {
    font-size: 12px;
    color: #636363;
    margin-bottom: 10px; }
.single-blog-post.style-2 .blog-content .post-title {
    display: block;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    color: #232323; }
    .single-blog-post.style-2 .blog-content .post-title:hover, .single-blog-post.style-2 .blog-content .post-title:focus {
    color: #ef1b48; }
.single-blog-post.style-2 .blog-content .post-author {
    display: block;
    font-size: 12px;
    color: #636363;
    font-weight: 500;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    .single-blog-post.style-2 .blog-content .post-author:hover, .single-blog-post.style-2 .blog-content .post-author:focus {
    color: #ef1b48; }
.single-blog-post.style-2:hover {
-webkit-transform: translateY(-15px);
transform: translateY(-15px); }
.single-blog-post.style-2:hover .blog-content .post-title {
    color: #ef1b48; }
    .single-blog-post.style-3 .blog-thumbnail {
        margin-bottom: 20px;
        position: relative;
        z-index: 1; }
        .single-blog-post.style-3 .blog-thumbnail img {
          width: 100%; }
        .single-blog-post.style-3 .blog-thumbnail .video-btn {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 63px;
          height: 63px;
          background-color: #ef1b48;
          color: #ffffff;
          font-size: 24px;
          line-height: 63px;
          display: block;
          border-radius: 50%;
          text-align: center;
          margin: 0 auto 20px;
          z-index: 50; }
          .single-blog-post.style-3 .blog-thumbnail .video-btn:hover {
            background-color: #000000;
            color: #ffffff; }
      .single-blog-post.style-3 .blog-content {
        position: relative;
        z-index: 1; }
        .single-blog-post.style-3 .blog-content .post-date {
          font-size: 12px;
          color: #ffffff;
          margin-bottom: 10px;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms; }
        .single-blog-post.style-3 .blog-content .post-title {
          display: block;
          font-weight: 600;
          font-size: 22px;
          margin-bottom: 10px;
          color: #ffffff;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          line-height: 1.3; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .single-blog-post.style-3 .blog-content .post-title {
              font-size: 18px; } }
          .single-blog-post.style-3 .blog-content .post-title:hover, .single-blog-post.style-3 .blog-content .post-title:focus {
            color: #ef1b48; }
        .single-blog-post.style-3 .blog-content .post-author {
          display: block;
          font-size: 12px;
          color: #ffffff;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          font-weight: 500; }
          .single-blog-post.style-3 .blog-content .post-author:hover, .single-blog-post.style-3 .blog-content .post-author:focus {
            color: #ef1b48; }
      .single-blog-post.style-3:hover .blog-content .post-title {
        color: #ef1b48; }
      .single-blog-post.style-4 .blog-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
        max-width: 120px;
        width: 120px;
        margin-right: 15px; }
        .single-blog-post.style-4 .blog-thumbnail img {
          width: 100%; }
      .single-blog-post.style-4 .blog-content {
        position: relative;
        z-index: 1; }
        .single-blog-post.style-4 .blog-content .post-date {
          font-size: 12px;
          color: #636363;
          margin-bottom: 5px;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms; }
        .single-blog-post.style-4 .blog-content .post-title {
          display: block;
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 0;
          color: #232323;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms; }
          .single-blog-post.style-4 .blog-content .post-title:hover, .single-blog-post.style-4 .blog-content .post-title:focus {
            font-weight: 600;
            color: #ef1b48; }
      .single-blog-post.style-4:hover .blog-content .post-title {
        color: #ef1b48; }
        .single-widget-area.newsletter-widget {
            background-color: #f0f4f8;
            padding: 50px 20px;
            text-align: center;
        }
        .single-widget-area.newsletter-widget h4 {
            margin-bottom: 25px;
        }.single-widget-area.newsletter-widget p {
            font-size: 12px;
            font-style: italic;
        }
        .single-widget-area.newsletter-widget form input {
            text-align: center;
            width: 100%;
            background-color: #d4dfe3;
            height: 54px;
            font-size: 12px;
            font-style: italic;
            color: #4c4c4c;
            border: none;
            margin-bottom: 15px;
        }
        .newsbox-btn {
            background-color: #ef1b48;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 170px;
            height: 54px;
            color: #ffffff;
            border-radius: 0;
            padding: 0 30px;
            font-size: 18px;
            line-height: 54px;
            font-weight: 600;
            text-transform: capitalize;
        }
       
    /* 20190622 */