.container {
    margin: auto;
}
.logo{
    text-align: center;
}
.container>nav {
    background-color: rgb(26, 137, 228);
    text-align: center;
    font-variant: small-caps;
    line-height: 40px;
    color: white;
}
.container nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    padding-inline-start: 0;
    margin: 0;
}

.container nav ul li {
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
}

.container nav ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: block;
    background-color: rgb(26, 137, 228);
}

.container nav a:hover {
    color: rgb(35, 35, 179);
    text-decoration: underline;
    background-color: #fcf0b6;
    font-weight: bold;
}

.container nav ul li>.sub-menu {
    display: none;
    position: absolute;
}

.container nav li:hover .sub-menu {
    display: block;
}
.right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #ffffff;
    text-decoration: none;
}

.banner {
    width: 100%;
}
article {
    width: 85%;
    float: left;
}

.content {
    text-align: justify;
    padding: 5px 20px 15px 40px;
}
.khoa-hoc {
    width: 30%;
    float: left;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.khoa-hoc>a:hover>.box-kh {
    box-shadow: 0 0 10px rgb(26, 137, 228);
}

.box-kh {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.box-kh>.ten-kh {
    font-family: Impact;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bolder;
    color: red;
    position: absolute;
    top: 10px;
    left: 20px;
}

.box-kh>.image {
    max-width: 98%;
    margin-bottom: 10px;
    max-height: 150px;
}

.box-kh>.gia-kh {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-family: Impact;
    font-size: 25px;
    color: red;
}

.box-kh>.icons {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 25px;
}

.box-kh>.new-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 90px;
}

hr {
    clear: both;
}
h1{
    text-align: center;
    color: orangered;
    font-variant: small-caps;
}
.border-bottom{
    border-bottom: 3px double orangered;
 
}
.container aside {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #fcf0b6;
    text-align: left;
    font-variant: small-caps;
    min-height: 400px;
}

.container aside .menu {
    border: 1px solid lightblue;
    margin: 5px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered;
    list-style: none;
}

.container aside menu li a {
    display: block;
}

.container aside ul li a {
    color: rgb(4, 78, 138);
    text-decoration: none;
}

.container aside li:hover {
    text-decoration: underline;
    background-color: rgb(26, 137, 228);
    font-weight: bold;
    color: white;
}

.container aside a:hover {
    color: white;
}
.clear {
    clear: both;
}
footer {
    text-align: center;
    width: 100%;
    background-color: rgb(26, 137, 228);
    padding: 20px 0px 20px 0px;
    border-top: 5px double #f1db6a;
    color: #ffffff;
}
h4{
    color: red;
    text-align: justify;
}
h5{
    color: blue;
    text-align: justify;
}