.container{
    width: 980px;
    margin: 0 auto;
}
header{
    background-color: #360a21;
}
header img{
    margin: 20px 330px;
}
nav{
    background-color: #b75797;
    text-align: center;
}
nav ul{
    display: inline-block;
 
}
nav ul li{
    display: inline-block;

}
nav ul li a{
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    padding: 10px 20px;
}
nav ul li a:hover{
    background-color: #360a21;
}
h1{
    color: #b75797;
    text-align: center;
}
.hr{
    background-color: #b75797;
    color: #b75797;
}
aside{
    float: left;
    width: 30%;
    height: 748px;
    background-color: #fae8f4;
}
form{
    margin: 20px;
}
label{
    color: #360a21;
}
input{
    width: 80%;
}
button{
    background-color: #360a21;
    color:antiquewhite;
    margin: 10px 50px;
}
article{
    float: left;
    width: 70%;
}
.sp{
    border: 1px solid black;
    float: left;
    width: 30%;
    margin: 20px 10px;
}

.spcon{
    text-align: center;
    margin: 20px;
}
.ord{
    padding: 10px 30px;
    background-color: #360a21;
    color: #fae8f4 ! important;
    text-decoration: none;
}
.spcon a{
    text-decoration: none;
    color: black;
}
p{
    color: #b75797;
    font-weight: bold;
}

.spcon a button{
    color: aliceblue;
    padding: 20px;
}
footer{
    background-color: #360a21;
    clear: both;
}
footer div{
    padding:20px 0;
    text-align: center;
    color: antiquewhite;
}