h3{
    color: rgb(99, 17, 207);
}
.picture{
    padding: 10px 0 0 0;
    width: 95%;
}
p{
    text-align: justify;
    padding: 0px 20px 0 10px;

}
.col-30{
    float: left;
    width: 30%;
}
.col-70{
    float: left;
    width: 70%;
}
.row{
    padding: 10px 0;

    clear: both;
}
.container{
    margin: 0 auto;
    max-width: 980px;
}