table{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid  rgb(132, 132, 240);
}
thead{
    background-color: rgb(20, 20, 139);
    color: aliceblue;
  
}
th,td{
  padding: 10px 10px;
}
tbody tr:nth-child(2n){
    background-color: lightgray;
}
tbody>tr:nth-child(2n+1){
    background-color:white;
}